# Movie Recommedation system

## Business Understanding

### a) Introduction

A movie recommendation aims to anticipate or filter preferences in line with the user's  movie selections.it predicts the ratings for movies users havenâ€™t watched yet. Movies are then indexed and suggested to users based on these predicted ratings.The Stakeholders is Netflix Company which is a a streaming service that provides thousands of internet-connected devices with access to a large selection of award-winning TV series, films, animation, documentaries, and more.

Netflix's mission is to entertain the world, demonstrating its dedication to producing high-quality video content and providing world-class entertainment services for users.Netflix vision statement is becoming the best global entertainment distribution service and this can be achieved by user retention and engagement on the streaming platform by offering users individualized movie suggestions.This will be achieved by creating a recommender system.

<br> 
The users are classified into 3 groups:

- New users are those who have just joined the site and have never interacted before.
- Users that periodically watch movies but haven't developed firm tastes are referred to as casual users.
- Users that often view movies and have clear preferences for genres are known as enthusiast users.
<br>

We will use a hybrid approach that combines content-based and collaborative filtering methods to provide diverse recommendations.

### b) Problem statement

inaccurate recommedations given to users by different platforms,thus users are forced to take more time in searching for other similar movies which will fit their tastes and prefrences.

### c) Defining Metrics of Success

### d) Research Questions

### e) Main Objective

### f) Specific Objectives

## 2.Data Understanding

We will be using the MovieLens dataset for this purpose. It has been collected by the GroupLens Research Project at the University of Minnesota. MovieLens 100K dataset can be downloaded from http://grouplens.org/datasets/movielens/100k/. It consists of:

- 100,000 ratings (1-5) from 943 users on 1682 movies.
- Each user has rated at least 20 movies.
- Simple demographic info for the users (age, gender, occupation, zip)
- Genre information of movies

## 3.Importing the Necessary Libraries

In [9]:
import pandas as pd

## 4.Reading The Data

### a) Loading data on movies csv

In [42]:
movies = pd.read_csv("movies.csv",index_col='movieId')#Setting the movieId column as the index column 
#previewing the first 5 rows
movies.head(5)

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [50]:
movies.shape

(9742, 2)

In [43]:
movies_new = movies[['title']] 
movies_new

                                             title
movieId
1                                 Toy Story (1995)
2                                   Jumanji (1995)
3                          Grumpier Old Men (1995)
4                         Waiting to Exhale (1995)
5               Father of the Bride Part II (1995)
...                                            ...
193581   Black Butler: Book of the Atlantic (2017)
193583                No Game No Life: Zero (2017)
193585                                Flint (2017)
193587         Bungo Stray Dogs: Dead Apple (2018)
193609         Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 1 columns]

In [32]:
ratings = pd.read_csv("ratings.csv",index_col='userId')
ratings.head(10)

        movieId  rating  timestamp
userId
1             1     4.0  964982703
1             3     4.0  964981247
1             6     4.0  964982224
1            47     5.0  964983815
1            50     5.0  964982931
1            70     3.0  964982400
1           101     5.0  964980868
1           110     4.0  964982176
1           151     5.0  964984041
1           157     5.0  964984100

In [51]:
ratings.shape

(100836, 3)

In [46]:
ratings_new=ratings[['movieId','rating']]
ratings_new.head(5)

        movieId  rating
userId
1             1     4.0
1             3     4.0
1             6     4.0
1            47     5.0
1            50     5.0

In [52]:
merged_df = pd.merge(movies_new, ratings_new, on='movieId')
merged_df.tail(10)

        movieId                                              title  rating
100826   193565                          Gintama: The Movie (2010)     3.5
100827   193567  anohana: The Flower We Saw That Day - The Movi...     3.0
100828   193571                                Silver Spoon (2014)     4.0
100829   193573            Love Live! The School Idol Movie (2015)     4.0
100830   193579           Jon Stewart Has Left the Building (2015)     3.5
100831   193581          Black Butler: Book of the Atlantic (2017)     4.0
100832   193583                       No Game No Life: Zero (2017)     3.5
100833   193585                                       Flint (2017)     3.5
100834   193587                Bungo Stray Dogs: Dead Apple (2018)     3.5
100835   193609                Andrew Dice Clay: Dice Rules (1991)     4.0

In [53]:
merged_df.shape

(100836, 3)

In [20]:
r.drop_duplicates(inplace=True)
r.shape

(100836, 4)

In [25]:
l = pd.read_csv("links.csv")
l.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0